%table.table-hover.table-striped.col-sm-12
  %thead
    %tr.text-center.row
      %th.col-sm-1.col-xs-1 #
      %th.col-sm-4.col-xs-3 Name
      %th.col-sm-2.col-xs-2.text-center= @pool.sort_stat.first.capitalize
      / %th.col-2.col-xs-2 P. Diff
      %th.col-sm-3.col-xs-4.text-center Teams
  %tbody.container
    - @users.each_with_index do |user, indx|
      %tr.row
        %td.col-sm-1.col-xs-1= indx + 1
        %td.col-sm-4.col-xs-4= user.name
        %td.col-sm-3.col-xs-3.text-center
          %strong= user.sort_stat
        / %td.col-2.col-xs-2#= user.point_differential
        %td.col-sm-4.col-xs-5
          %ul
            - user.teams.sort_by{|x| x.send(@pool.sort_stat)}.reverse.each do |t|
              %li.small= "#{t.name.split(" ").last} (#{t.send(@pool.sort_stat)})"