%p#notice= notice

.clearfix
  %br
  %p 
.center-block
  .panel.panel-info
    .panel-heading
      %h2#standingsPanelTitle.panel-title= "#{@pool.name} Standings"
    #poolStandings.panel-body.container.row
      = render 'standings', locals: {pool: @pool, users: @users}
  %br
  = link_to "Update Standings", update_standings_pool_path(order: :update_nfl), remote: true, class: "col-2 pull-right btn btn-warning btn-sm standingsBtn"
