.clearfix
  %br
  %p 
.center-block.col-md-10.col-md-offset-1.col-sm-10.col-xs-11  
  .panel.panel-info
    .panel-heading
      %h3.panel-title= "Standings"
    .panel-body
      %table.table-striped.col-md-12.col-sm-12.col-xs-12.table-bordered
        %thead
          %tr
            %th.text-center Rank
            %th.text-center Name
            %th.text-center W
            %th.text-center L
            %th.text-center T
            %th.text-center Teams
      
      
        %tbody
          - @users.sort_by{|x| x.wins}.reverse.each_with_index do |user, index|
            %tr
              %td.text-center= index + 1
              %td.text-center= link_to user.name, user
              %td.text-center= user.wins
              %td.text-center= user.losses
              %td.text-center= user.ties
              %td.text-center= user.teams.map{|x| "#{x.name.split(" ").last} (#{x.wins})"}.join(", ")
              -# %td= link_to 'Show', user
              -# %td= link_to 'Edit', edit_user_path(user)
              -# %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-# # = link_to 'New User', new_user_path
