%h1.col-md-12.text-center Wins Pool Standings

%table.table-striped.col-md-12
  %thead
    %tr
      %th.text-center Rank
      %th.text-center Name
      %th.text-center Wins
      %th.text-center Losses
      %th.text-center Ties
      %th.text-center Teams


  %tbody
    - @users.sort_by{|x| x.wins}.reverse.each_with_index do |user, index|
      %tr
        %td.text-center= index + 1
        %td.text-center= user.name
        %td.text-center= user.wins
        %td.text-center= user.losses
        %td.text-center= user.ties
        %td.text-center= user.teams.map{|x| "#{x.name.split(" ").last} (#{x.wins})"}.join(", ")
        -# %td= link_to 'Show', user
        -# %td= link_to 'Edit', edit_user_path(user)
        -# %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-# # = link_to 'New User', new_user_path
